/*font-family: 'Playball', cursive;
font-family: 'Oswald', sans-serif;*/

*{
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: 'Oswald', sans-serif;
}

._bgdegree{
  background-image: linear-gradient(to right, #051937, #39235a, #7b1c69, #bb005f, #eb123d);

}
