footer{
    background:linear-gradient(to right, #051937, #39235a, #7b1c69, #bb005f, #eb123d);
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    }
    
    footer .pie2{
      font-family: 'Playball', cursive;
      color: #ffffff;
      font-size: 2em;
    }
    
    footer .pie2 h5{
      font-family: 'Playball', cursive;
      color: #ffffff;
      font-size: 2em;
    }
    
    footer .pie3 h5{
      font-family: 'Oswald', sans-serif;
    }
    
    a{
      color: white;
      font-size: 1rem;
    }
    
    a:hover{
        text-decoration: none;
        color: #F9EFD5;
    }
    
    .page-footer li{
        color: white;
        list-style: none;
    
    }
    
    .page-footer li:hover{
        text-decoration: underline;
        color: rgb(105, 105, 105);
    }