._imgAvatar{
    height: 30vh;
    border-radius: 50%;
 }


._medal{
    width: 50px;
    position: relative;
    right: 3vw;
    top:12vh;

}
.add{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 5vh;

}

._internet{
    width: 50px;
    height: auto;
    position: relative;
    right:3vw;

}

._whatsapp{
    width: 50px;
    position: relative;
    right:3vw;

}
._webNews{
    height: 20vh;

}
._list{
    height: 30vh;
}
._newspaper{
    height: 30vh;
}

._textoUsuario{
    position: relative;
    top: 25vh;
    right: 5vw;

}
._textoWeb{
    position: relative;
    left: 5vw;
}
._textowhats{
    position: relative;
    left: 5vw;
}
._textoPropia{
    position: relative;
    left: 5vw;
}
._ranking{
    background-image: linear-gradient(to right, #051937, #39235a, #7b1c69, #bb005f, #eb123d);

}
._verNoticia{
    text-transform: uppercase;
    color: white;
}
._rank{
    color: white;
}
._rank2{
    color: black;
}
._textosRanking{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.table{
    margin: 0 auto;
    width: 90vw;
    position: relative;
    left: 5vw;
}
.news-container{
    background-color: white;
    width: 25vw;
    margin: 20px;

}
._newsType{
    width: 25px;
}

.topNoticias{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.ranking_type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.noticia{
 display: flex;
 justify-content: center;
 margin: 0px auto;
 padding: 10px;


}
