*{
    box-sizing: border-box;
    margin:0 auto;

}
body{
    background: linear-gradient(to right, #051937, #39235a, #7b1c69, #bb005f, #eb123d);
}
.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 1;
}
.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity:1;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 1;
}
.popup .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: rgb(105, 105, 105);
	border-radius: 3px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	
}
.popup .btn-submit:hover {
	background:linear-gradient(to right, #051937, #39235a, #7b1c69, #bb005f, #eb123d);
}
._logopass{
	font-family: 'Playball', cursive;
	color: #ffffff;
	font-size: 2em;
	position: fixed;
	margin-top: 10px;	
	margin-left: 15px;
	z-index: 1000;
	list-style: none;
	text-decoration:none;
  }
  ._logopass:hover{
	text-decoration:none;
	color:  rgb(105, 105, 105);
}
.alogin{
	
	text-decoration: none;
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	background-color: rgb(105, 105, 105);
}


	

  